// out: false

.editor-canvas {
	touch-action: none;
	overscroll-behavior: none;

	svg {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		touch-action: none;
		width: 100%;
		height: 100%;
	}

	path.edge {
		fill: none;
		stroke: #000;
		stroke-width: 4px;
		cursor: default;

		&.dragline {
			pointer-events: none;
		}

		&.hidden {
			stroke-width: 0;
		}
	}

	path.end-arrow {
		marker-end: url(#endArrow);
	}

	path.start-arrow {
		marker-start: url(#startArrow);
	}

	text {
		font: 12px sans-serif;
		pointer-events: none;

		&.label {
			text-anchor: middle;
			font-weight: bold;
		}
	}
}

.node-group {
	touch-action: none;

	&:focus {
		outline: none;
	}

	.node {
		fill: white;
		stroke: black;
		stroke-width: 1.5px;
		cursor: auto;
	
		&.transition {
			transform: translate(-18px, -18px);
		}
	}
}

.Fix.Nodes {
	.node {
		cursor: move;
	}
}

.Tokens {
	.place {
		cursor: text;
	}
	.transition {
		stroke-width: 3px;
		stroke: #E53935;
		cursor: not-allowed;
		&.firable {
			stroke: #43A047;
			cursor: e-resize;
		}
	}
}
.Arrows {
	.editor-canvas {
		cursor: default;
		.node {
			cursor: crosshair;
		}
	}
}
.Labels {
	.editor-canvas {
		cursor: default;
		.edge, .node {
			cursor: text;
		}
	}
}
.Initial,
.Delete {
	.editor-canvas {
		cursor: default;
		.edge, .node {
			cursor: pointer;
		}
	}
}
.Places,
.States,
.Transitions {
	.node {
		cursor: move;
	}
}
.definitions {
	height: 0;
}
.initState {
	display: none;
}
