<md-dialog aria-label="APT Export" flex ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>APT Import</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="ai.closeDialog()">
					<ng-md-icon icon="close" style="fill: rgba(255, 255, 255, .87)" size="24"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container class="md-block">
					<label>Insert Code</label>
					<textarea class="code-editor" ng-model="ai.aptCode" style="min-height: 300px" md-select-on-focus></textarea>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="ai.import(ai.aptCode)" ng-disabled="!ai.aptCode" class="md-primary">
				Import
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
