<md-dialog aria-label="Form Dialog" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ dialog.title }}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="dialog.dismiss()">
				<ng-md-icon icon="close" style="fill: rgba(255, 255, 255, .87)" size="24" aria-label="close"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<form name="formDialog" ng-submit="dialog.complete()">
				<p class="dialog-description">{{ dialog.text }}</p>
				<div layout="row" layout-wrap>
					<md-input-container
						class="md-block"
						ng-repeat="(inputId, input) in dialog.formElements"
						flex-gt-sm="{{ dialog.getInputWidth(input) }}"
						ng-if="dialog.showInput(input)">
						<label ng-class="'input-label-' + input.type">{{ input.name }}</label>
						<input
							ng-if="input.type == 'number'"
							required type="number"
							step="1"
							ng-model="input.value"
							min="{{input.min}}"
							max="{{input.max}}"
							error-message="input.error"
							touched="input.touched"
							validation="input.validation" />
						<input
							ng-if="input.type == 'text'"
							required
							type="text"
							ng-model="input.value"
							error-message="input.error"
							touched="input.touched"
							autocomplete="false"
							validation="input.validation" />
						<md-checkbox
							ng-if="input.type == 'checkbox'"
							class="md-primary"
							ng-model="input.value">
							{{ input.name }}
 						</md-checkbox>
						<input
							ng-if="input.type == 'file'"
							class="file-upload"
							type="file"
							fileread="input.value"
							error-message="input.error"
							onfileload="input.onfileload" />
						<textarea
							ng-if="input.type == 'code'"
							required class="code-editor"
							ng-model="input.value"
							style="min-height: 200px"
							error-message="input.error"
							touched="input.touched"
							validation="input.validation">
						</textarea>
						<md-chips
							ng-if="input.type == 'textArray' && !input.chooseFrom"
							ng-model="input.value"
							md-separator-keys="dialog.arraySeperators"
							placeholder="{{ input.placeholder }}"
							secondary-placeholder="+">
							<input
								type="text"
								ng-model="dialog.chipInput[inputId]" />
							<ng-message>{{ input.error }}</ng-message>
						</md-chips>
						<md-contact-chips
							ng-if="input.type == 'textArray' && input.chooseFrom"
							ng-model="input.value"
							md-contacts="dialog.filterNotSelected(input.chooseFrom, input.value) | filter:$query"
							md-contact-name="nicename"
							md-filter-selected="'true'"
							md-require-match="true"
							placeholder="{{ input.placeholder }}"
							secondary-placeholder="+">
							<input
								type="text"
								ng-model="dialog.chipInput[inputId]" />
						</md-contact-chips>
						<ng-message>{{ input.error }}</ng-message>

						<md-list class="fixedRows" flex layout="row" layout-wrap>
							<md-list-item
								ng-if="input.value.indexOf(item) < 0"
								ng-repeat="(index, item) in input.chooseFrom"
								flex-xs="100"
								flex-gt-xs="50"
								flex-gt-md="25"
								flex-gt-lg="33"
								class="md-2-line contact-item"
								ng-click="input.value.push(item)">
								<div class="md-list-item-text compact">
									<h3>{{item.nicename}}</h3>
									<p class="item-description">{{item.description}}</p>
								</div>
							</md-list-item>
						</md-list>
					</md-input-container>
				</div>
			</form>
			<div layout="row" layout-wrap>
				<md-input-container
					class="md-block"
					ng-repeat="output in dialog.outputElements"
					flex-gt-sm="{{ dialog.getInputWidth(output) }}">
					<label>{{ output.name }}</label>
					<input validation="output.validation" touched="output.touched" readonly ng-if="output.type == 'number'" type="number" ng-model="output.value" />
					<input validation="output.validation" touched="output.touched" readonly ng-if="output.type == 'text'" type="text" ng-model="output.value" />
					<textarea validation="output.validation" touched="output.touched" readonly ng-if="output.type == 'code'" class="code-editor" ng-model="output.value" style="min-height: 200px"></textarea>
					<ng-message>{{ output.error }}</ng-message>
				</md-input-container>
			</div>
			<div id="form-bottom"></div>
		</div>
	</md-dialog-content>
	<md-dialog-actions class="static-error-bar" ng-if="dialog.staticError(dialog.net)">
		{{ dialog.staticError(dialog.net) }}
	</md-dialog-actions>
	<md-dialog-actions layout="row" ng-if="!dialog.staticError(dialog.net)">
		<span flex></span>
		<md-button ng-if="dialog.cancel" class="md-primary" ng-click="dialog.dismiss()">
			{{ dialog.cancel }}
		</md-button>
		<md-button ng-disabled="!dialog.formIsComplete()" class="md-primary" ng-click="dialog.complete()" style="margin-right:20px;">
			{{ dialog.ok }}
		</md-button>
	</md-dialog-actions>
</md-dialog>
