<div class="editor-canvas">
   <svg ng-hide="error" ng-if="net"
      ng-click="clickOnCanvas($event)"
      ng-dblclick="dblClickOnCanvas($event)"
      ng-mousedown="mouseDownOnCanvas($event)"
      ng-mousemove="mouseMoveOnCanvas($event)"
      ng-mouseup="mouseUpOnCanvas($event)"
      ng-mouseleave="mouseUpOnCanvas($event)">
      <path class="edge dragline hidden"></path>
      <g ng-if="net.edges">
         <g ng-repeat="edge in net.edges track by (edge.id + '-' + (edge.renderVersion || 0))"
            ng-attr-data-edge-id="{{ edge.id }}"
            ng-click="clickOnEdge(edge, $event)"
            ng-dblclick="dblClickOnEdge(edge, $event)"
            ng-mousedown="mouseDownOnEdge(edge, $event)"
            ng-mouseup="mouseUpOnEdge(edge, $event)">
            <path class="edge" ng-attr-d="{{ edge.getPath() }}"
               ng-attr-marker-start="{{ edge.left > 0 ? 'url(#startArrow)' : undefined }}"
               ng-attr-marker-end="{{ edge.right > 0 ? 'url(#endArrow)' : undefined }}">
            </path>
            <text dy="-8" class="label edge-label" id="edge-label-{{ edge.id }}">
               <textPath startOffset="50%" class="text" xlink:href="{{ '#edge-label-' + edge.id }}">{{ edge.getText() }}</textPath>
            </text>
         </g>
      </g>
      <g ng-if="net.nodes">
         <g class="node-group" ng-repeat="node in net.nodes" draggable="node" net="net" ng-attr-data-node-id="{{ node.id }}" ng-attr-transform="translate({{ node.x }},{{ node.y }})"
            ng-click="clickOnNode(node, $event)"
            ng-dblclick="dblClickOnNode(node, $event)"
            ng-mousedown="mouseDownOnNode(node, $event)"
            ng-mouseup="mouseUpOnNode(node, $event)">
            <circle ng-if="node.shape == 'circle'" class="{{ node.type }} node" ng-attr-r="{{ node.radius }}"></circle>
            <rect ng-if="node.shape == 'rect'" class="{{ node.type }} node" ng-class="{firable: net.isFirable(node)}" ng-attr-width="{{ node.width }}" ng-attr-height="{{ node.height }}"></rect>
            <text ng-attr-x="{{ node.labelXoffset }}" ng-attr-y="{{ node.labelYoffset }}" class="label nodeLabel">{{ node.getText() }}</text>
            <text x="0" y="4" class="label token">{{ node.getTokenLabel() }}</text>
            <path class="edge self-edge" id="self-edge-{{ node.id }}" d="" style="marker-end: url('#endArrow');"></path>
            <text dy="-4" class="label self-edge-label">
               <textPath startOffset="50%" class="text" xlink:href="{{ '#self-edge-' + node.id }}">{{ node.getSelfEdgeText() }}</textPath>
            </text>
         </g>
      </g>
   </svg>
   <div class="error-canvas" ng-if="error" layout="row" layout-align="center center">
      <md-card class="error-card" flex>
         <md-card-title>
            <md-card-title-text>
               <span class="md-headline">Rendering Error</span>
               <span class="md-subhead">The editor couldn't render this net. There was probably a syntax error at the APT import.</span>
            </md-card-title-text>
         </md-card-title>
         <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="deleteNet()" class="md-primary">Delete This Net</md-button>
         </md-card-actions>
      </md-card>
   </div>
</div>
