<div flex class="editor-layout">
   <topbar></topbar>
   <menubar></menubar>
   <div id="main-canvas">
      <svg>
         <defs>
            <marker id="endArrow" viewBox="0 -5 10 10" refX="6" markerWidth="3" markerHeight="3" orient="auto">
               <path d="M0,-5L10,0L0,5" fill="#000"></path>
            </marker>
         </defs>
         <defs>
            <marker id="startArrow" viewBox="0 -5 10 10" refX="4" markerWidth="3" markerHeight="3" orient="auto">
               <path d="M10,-5L0,0L10,5" fill="#000"></path>
            </marker>
         </defs>
         <path class="link dragline hidden"></path>
      </svg>
   </div>
</div>
