<md-toolbar class="md-menu-toolbar">
   <div layout="row" class="file-menubar">
      <md-menu-bar>
         <md-menu>
            <button ng-click="$mdOpenMenu()">
               File
            </button>
            <md-menu-content>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="insert_drive_file" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-menu>
                     <md-button ng-click="$mdOpenMenu()">New</md-button>
                     <md-menu-content>
                        <md-menu-item>
                           <md-button ng-click="ctrl.sampleAction('New Document', $event)">Petri Net</md-button>
                        </md-menu-item>
                        <md-menu-item>
                           <md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Transition System</md-button>
                        </md-menu-item>
                     </md-menu-content>
                  </md-menu>
               </md-menu-item>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="cloud_upload" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="ctrl.sampleAction('Open', $event)">
                     Upload
                  </md-button>
               </md-menu-item>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="insert_drive_file" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-menu>
                     <md-button ng-click="$mdOpenMenu()">Save as...</md-button>
                     <md-menu-content>
                        <md-menu-item class="md-indent">
                           <ng-md-icon icon="merge_type" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                           <md-button ng-click="ctrl.sampleAction('New Document', $event)">OPN-File</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                           <ng-md-icon icon="insert_drive_file" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                           <md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">APT-File</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                           <ng-md-icon icon="insert_photo" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                           <md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">PNG-File</md-button>
                        </md-menu-item>
                     </md-menu-content>
                  </md-menu>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="text_fields" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="ctrl.sampleAction('Rename', $event)">
                     Rename
                  </md-button>
               </md-menu-item>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="print" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="ctrl.sampleAction('Print', $event)">
                     Print
                  </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
         <md-menu>
            <button ng-click="$mdOpenMenu()">
               Edit
            </button>
            <md-menu-content>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="undo" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="undo();">
                     Undo
                  </md-button>
               </md-menu-item>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="redo" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="redo();">
                     Redo
                  </md-button>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="content_cut" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="ctrl.sampleAction('cut', $event)">
                     Cut
                  </md-button>
               </md-menu-item>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="content_copy" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="ctrl.sampleAction('copy', $event)">
                     Copy
                  </md-button>
               </md-menu-item>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="content_paste" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="ctrl.sampleAction('paste', $event)">
                     Paste
                  </md-button>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="search" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="ctrl.sampleAction('Find and replace', $event)">
                     Find and replace...
                  </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
         <md-menu>
            <button ng-click="$mdOpenMenu()">
               View
            </button>
            <md-menu-content>
            </md-menu-content>
         </md-menu>
         <md-menu>
            <button ng-click="$mdOpenMenu()">
               Analyze
            </button>
            <md-menu-content>
            </md-menu-content>
         </md-menu>
      </md-menu-bar>
   </div>
</md-toolbar>
