<md-toolbar class="md-menu-toolbar">
   <div layout="row" class="file-menubar">
      <md-menu-bar>
         <md-menu>
            <button ng-click="$mdOpenMenu()">
               File
            </button>
            <md-menu-content>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="insert_drive_file" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-menu>
                     <md-button ng-click="$mdOpenMenu()">New</md-button>
                     <md-menu-content>
                        <md-menu-item>
                           <md-button ng-click="mb.createNet($event, 'petri net')">Petri Net</md-button>
                        </md-menu-item>
                        <md-menu-item>
                           <md-button ng-click="mb.createNet($event, 'transition system')">Transition System</md-button>
                        </md-menu-item>
                     </md-menu-content>
                  </md-menu>
               </md-menu-item>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="cloud_upload" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="mb.importAPT($event)">
                     Import APT
                  </md-button>
               </md-menu-item>
					<md-menu-item class="md-indent">
                  <ng-md-icon icon="cloud_download" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="mb.showAPT(net, $event)">
                     Export APT
                  </md-button>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item class="md-indent">
                  <ng-md-icon icon="text_fields" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="mb.renameNet(net.name, $event)">
                     Rename Net
                  </md-button>
               </md-menu-item>
					<md-menu-item class="md-indent">
                  <ng-md-icon icon="delete" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="mb.deleteNet(net, $event)">
                     Delete Net
                  </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
         <md-menu>
            <button ng-click="$mdOpenMenu()">
               Tools
            </button>
            <md-menu-content>
               <md-menu-item class="md-indent" ng-repeat="tool in net.tools">
                  <ng-md-icon icon="{{tool.icon}}" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="net.activeTool = tool.name" title="{{ tool.description }}">
                     {{tool.name}}
                  </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
         <md-menu>
            <button ng-click="$mdOpenMenu()">
               Analyze
            </button>
				<md-menu-content>
               <md-menu-item class="md-indent" ng-repeat="analyzer in net.analyzers">
                  <ng-md-icon icon="{{analyzer.icon}}" style="fill: rgba(0, 0, 0, .87)" size="20"></ng-md-icon>
                  <md-button ng-click="mb.startAnalyzer(analyzer, net)">
                     {{analyzer.name}}
                  </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
      </md-menu-bar>
   </div>
</md-toolbar>
