<md-toolbar class="md-whiteframe-z1">
   <div class="md-toolbar-tools">
      <md-button hide-gt-sm class="md-icon-button" aria-label="Toggle Menu" ng-click="sn.toggleSideMenu()">
         <ng-md-icon icon="menu" style="fill: white" size="22" aria-label="Menu"></ng-md-icon>
      </md-button>
      <h2>{{ net.name }}</h2>
      <span flex></span>
      <md-menu>
         <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More">
            <ng-md-icon icon="more_vert" style="fill: white" size="22" aria-label="Menu"></ng-md-icon>
         </md-button>
         <md-menu-content>
            <md-menu-item>
               <md-button>
                  About this project
               </md-button>
            </md-menu-item>
            <md-menu-item>
               <md-button ng-href="https://github.com/stromhalm/apo" target="_blank">
                  Go to GitHub
               </md-button>
            </md-menu-item>
				<md-menu-item>
               <md-button ng-click="tb.resetStorage($event)">
                  Reset Net Storage
               </md-button>
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item>
               <md-button ng-href="https://adrian-jagusch.de/impressum" target="_blank">
                  Impressum
               </md-button>
            </md-menu-item>
         </md-menu-content>
      </md-menu>
   </div>
</md-toolbar>
