<!DOCTYPE html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>APT Online</title>
		<meta name="description" content="AngularJS Reference Architecture" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<base href="/">

		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css" />
		<link rel="stylesheet" href="/styles/styles.css" />

	<body ng-app="app">
		<div layout="row" class="main-layout">
		   <md-sidenav md-component-id="left-menu" class="md-sidenav-left md-whiteframe-z1" md-is-locked-open="$mdMedia('gt-sm')">
		      <sidenav></sidenav>
		   </md-sidenav>
		   <md-content class="main-content">
		      <div layout="column" layout-fill class="net-editor" ui-view></div>
		   </md-content>
		</div>

		<!-- Load Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

      <!-- Load Angular UI Router -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

      <!-- Load Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

      <!-- Load Material Design Icons -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>

      <!-- Load Local Storage Module -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

      <!-- Load D3.js -->
      <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<% if (config.environment === 'prod') { %>
			<script src="scripts/scripts.min.js"></script>
		<% } else { %>
			<script src="scripts/main.js"></script>
			<script src="scripts/routes.js"></script>
	      <script src="scripts/services/netStorage.js"></script>
			<script src="scripts/models/net.js"></script>
			<script src="scripts/models/transitionSystem.js"></script>
			<script src="scripts/models/petriNet.js"></script>
			<script src="scripts/services/netStorage.js"></script>
	      <script src="scripts/directives/sidenav.js"></script>
	      <script src="scripts/controllers/editorController.js"></script>
	      <script src="scripts/directives/topbar.js"></script>
	      <script src="scripts/directives/menubar.js"></script>
		<% } %>


	</body>
</html>
