<!DOCTYPE html>
<html<% if (config.environment === 'prod') { %> manifest="manifest.appcache"<% } %>>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>APO</title>
		<meta name="description" content="AngularJS Reference Architecture" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--<base href="/">-->

		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.css" />
		<!-- Include CSS files -->
		<!-- include: "type": "css", "files": "styles/**/*.css" -->

	<body ng-app="app">
		<div layout="row" class="main-layout">
		   <md-sidenav md-component-id="left-menu" class="md-sidenav-left md-whiteframe-z1" md-is-locked-open="$mdMedia('gt-sm')">
		      <sidenav></sidenav>
		   </md-sidenav>
		   <md-content class="main-content">
		      <div layout="column" layout-fill class="net-editor" ui-view></div>
				<svg class="definitions">
		         <defs>
		            <marker id="endArrow" viewBox="0 -5 10 10" refX="6" markerWidth="3" markerHeight="3" orient="auto">
		               <path d="M0,-5L10,0L0,5" fill="#000"></path>
		            </marker>
		         </defs>
		         <defs>
		            <marker id="startArrow" viewBox="0 -5 10 10" refX="4" markerWidth="3" markerHeight="3" orient="auto">
		               <path d="M10,-5L0,0L10,5" fill="#000"></path>
		            </marker>
		         </defs>
		      </svg>
		   </md-content>
		</div>

		<!-- Load Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

      <!-- Load Angular UI Router -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

      <!-- Load Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.js"></script>

      <!-- Load Material Design Icons -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>

      <!-- Load Local Storage Module -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

      <!-- Load D3.js -->
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<!-- Load Angular APT -->
      <script src="http://angular-apt.azurewebsites.net/apt.js" charset="utf-8"></script>

		<!-- Include all JS files from scripts folder -->
		<!-- include: "type": "js", "files": "scripts/**/*.js", "ordering": "top-down" -->
	</body>
</html>
